extends layout/app

block page
    include parts/header

    h1 Title

    img(src="img/screen_11.png" alt="screen" width="460")

    ul
        each item in news
            li
                p= item.name
                p= item.desc

    b test 2123
    include parts/footer
