// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// TRANSITION
@mixin transition($properties) {
  @include css3-prefix('transition', $properties);
}

// BORDER RADIUS
@mixin border-radius($radius: $radius-main) {
  @include css3-prefix('border-radius', $radius);
}

// FONT
@mixin font($weight: $medium, $size: $size-main, $family: $font-main, $line-height: $line-height) {
  font: $weight $size/#{$line-height} $family;
}

// BACKGROUND IMAGE
@mixin bg($bg_position: center, $bg_size: cover, $bg_repeat: no-repeat) {
  background: {
    position: $bg_position;
    size: $bg_size;
    repeat: $bg_repeat;
  }
}

// LETTER-SPACING & WORD-SPACING
@mixin spacing-break($letter: 0, $word: 0) {
  letter-spacing: $letter;
  word-spacing: $word;
}

// CALC
@mixin calc($property, $value) {
  #{$property}: -webkit-calc(#{$value});
  #{$property}: calc(#{$value});
}

@mixin centered() {
  position: absolute;
  z-index: 3;
  width: auto;
  height: auto;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  @include css3-prefix('transform-origin', '50% 50%');
  @include css3-prefix('transition', $transition-other);
}

@mixin box-shadow($options: 0 4px 9px 1px rgba(18, 41, 63, 0.1)) {
  -webkit-box-shadow: $options;
  -moz-box-shadow: $options;
  box-shadow: $options;
}

@mixin content_heading_sizes($size-min: 20px, $size-max: 56px) {
  h1 {
    font-size: $size-max;
  }
  h2 {
    font-size: $size-min + ((($size-max - $size-min) / 5) * 4);
  }
  h3 {
    font-size: $size-min + ((($size-max - $size-min) / 5) * 3);
  }
  h4 {
    font-size: $size-min + ((($size-max - $size-min) / 5) * 2);
  }
  h5 {
    font-size: $size-min + ((($size-max - $size-min) / 5) * 1);
  }
  h6 {
    font-size: $size-min;
  }
}
